<?xml version="1.0" encoding="utf-8" ?>

<phpunit bootstrap = "vendor/autoload.php"
    backupGlobals               = "false"
    colors                      = "true"
    processIsolation            = "false"
    stopOnFailure               = "false">

    <testsuites>
        <testsuite name="DAO in PHP for MySQL CRUD operations">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>